.App {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  background-color: blue;
}

.top {
  transform: rotate(180deg);
}

.leftClock {
  float: left;
}

.rightClock {
  float: right;
}

.timer {
  padding: 50px;
  margin: 10px;
  outline-style: solid;
  background-color: gray;
  font-size: 40px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.timer.active {
  background-color: yellow;
}

.timer.timeUp {
  background-color: red;
}

.timer.gameOver {
  background-color: gray;
}
