.App {
  display: grid;
  grid-template-columns: 41fr 18fr 41fr;
  grid-template-rows: 2fr 1fr 1fr 2fr;
  grid-template-areas:
    "topLeftClock     topButton    topRightClock"
    "topLeftClock     middleButton topRightClock"
    "bottomLeftClock  middleButton bottomRightClock"
    "bottomLeftClock  bottomButton bottomRightClock";
  min-height: 100vh;
  background-color: black;
}

.topLeftClock {
  grid-area: topLeftClock;
  transform: rotate(180deg);
}

.topRightClock {
  grid-area: topRightClock;
  transform: rotate(180deg);
}

.bottomLeftClock {
  grid-area: bottomLeftClock;
}

.bottomRightClock {
  grid-area: bottomRightClock;
}

.topButton {
  color: grey;
  grid-area: topButton;
  display: flex;
  justify-content: center;
  align-items: center;
}

.middleButton {
  color: grey;
  grid-area: middleButton;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottomButton {
  color: grey;
  grid-area: bottomButton;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer {
  margin: 3px 3px 6px 3px;
  background-color: gray;
  font-size: 5em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5%;
}

.timer.active {
  background-color: orange;
}

.timer.timeUp {
  background-color: red;
}

.timer.gameOver {
  background-color: gray;
}